<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Testng Automation Suite"  >

  <test name="Nopackage" >
  
    <classes>
    
       <class name="mm.UnauthenticatedHomePage" />
       <class name="mm.SignUpErrorHandling" />
       <class name="mm.SignInErrorHandling" />
       
    </classes>
  </test>
 
</suite>
 