<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Testng Automation Suite"  >

  <test name="Regression suite 1">
 
  <classes>
    
       <class name="Updated.POM.Testcases.WomenTest"  />
       
       <class name="Updated.POM.Testcases.MenTest"  />
       
       <class name="POM.TestCase.SignUpErrorHandling" />
       
       <class name="POM.TestCase.Verify_Login" />
       
       <class name="POM.TestCase.Verify_Forgot_Password" /> 
            
       <class name="POM.TestCase.Signin_Errorhandling" />
       
       <class name="POM.TestCase.Verify_Contactus" />
       
       <class name="POM.TestCase.Contactus_Errorhandling" />
       
       <class name="POM.TestCase.Verify_Cancelsignup" />
       

       
       
    </classes>
  
  


    
  </test>
 
</suite>
 